*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: roboto, sans-serif;
}

header {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

header nav {
  display: none;
}

.top-nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.top-nav__item {
  margin: 20px;
}

/*tablet*/
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  header nav {
    display: block;
  }
}
/*dekstop*/
@media (min-width: 1024px) {
}
